input {
  file {
    path => "/support/logs/cloud-controller/*"
    start_position => "beginning"
  }
}

filter {
  if [path] =~ "cloud-controller\/cloud_controller_ng" or [path] =~ "cloud-controller\/local_worker_" or [path] =~ "cloud-controller\/worker_" {
    mutate { 
      replace => { "type" => "cloud-controller" } 
      convert => { 
        "data.duration" => "string" 
        "data.status" => "string"
        "timestamp" => "string"
      }
    }
    json {
      source =>"message"
    }
    date {
      match => [ "timestamp" , "UNIX" ]
      target => "@timestamp"
    }
  }
}

output {
  elasticsearch {
    hosts => ["my.es.local:9200"]
  }
  stdout { codec => rubydebug }
}

